<div class='col-sm-12'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<h4>Intranet Tools</h4>
		</div>

		<div class='panel-body tools'>		
			<div class=''>				
				
				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/applications.svg' %>
					    </a>
						
						<center>
							<h5>Application Filing</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/timetracker.svg' %>
					    </a>
						
						<center>
							<h5>Time Tracker</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/calendar.svg' %>
					    </a>
						
						<center>
							<h5>Conference Scheduler</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/hrforms.svg' %>
					    </a>
						
						<center>
							<h5>HR Forms</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/message.svg' %>
					    </a>
						
						<center>
							<h5>Bulletin Board</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/documentctrl.svg' %>
					    </a>
						
						<center>
							<h5>Document Control</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/sixsigma.svg' %>
					    </a>
						
						<center>
							<h5>Six Sigma</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/prod.svg' %>
					    </a>
						
						<center>
							<h5>Prod Metrics</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/rewards.svg' %>
					    </a>
						
						<center>
							<h5>Rewards Program</h5>
						</center>

				 	</div>	
				</div>

				<div class="col-lg-2 icons">
				    <div class='#'>
					    <a href="#" class="">
					      <%= image_tag 'icons/ert.svg' %>
					    </a>
						
						<center>
							<h5>E.R.T.</h5>
						</center>

				 	</div>	
				</div>

			</div>
			
		</div>


</div>